@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat.ttf") format("truetype"), local("Montserrat-Regular");
}

@font-face {
  font-family: "bitter";
  src: url("../fonts/bitter.ttf") format("truetype"), local("Bitter-Regular");
}

body {
  font-family: "montserrat";
}
